@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
    --transition-speed: 500ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}


.welcome {
    display: flex;
    background-position: 50% 70%;
    width: 100%;
    height: 100vh;
    padding: 80px 0.25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parallax {
    height: 100vh;
    perspective: 2px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-home {
    background-image: url("../images/balloons-floating-opacity.jpg");
}

.welcome-contact {
    background-image: url("../images/contact-opactiy.jpg");
}

.header {
    display: flex;
    max-width: 1200px;
    width: 90%;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
}

.introduction {
    display: flex;
    width: 90%;
    padding: 1rem;
    max-width: 1200px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.75rem;
    justify-content: center;
}

.introduction-heading {
    margin-top: 85px;
}

.introduction-content {
    margin-top: 1rem;
}

.box {
    text-align: center;
    padding: 1em 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-title {
    padding-bottom: 0;
    font-size: 2rem;
}

.box-subtitle {
    font-size: 1.5rem;
}

.box-paragraph {
}

.box-width {
    max-width: 600px;
}

.button {
    display: flex;
    text-align: center;
    margin: 2rem;
    flex-direction: column;
    text-decoration: none;
    width: 10em;
    height: 2em;
    color: whitesmoke;
    font-size: 1.5rem;
    background: none;
    border: solid #ff6b26 2px;
}
.button:hover {
    background-color: #ff6b26;
}

.break-section {
    width: 100%;
    color: whitesmoke;
    background-color: #72767d;
    font-size: 1.5rem;
}

.break {
    text-align: center;
    padding: 1em;
}

.break-title {
    font-size: 2.5rem;
}

.break-content {
    font-size: 1.25rem;
}

.boxes {
}

.left,
.right {
    float: left;
    height: 40rem;
    width: 50%;
    padding: 0;
}

.box-1, .box-4, .box-5, .box-8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
}

.box-2, .box-3, .box-6, .box-7 {
    background-color: #222831;
    color: whitesmoke;
    justify-content: center;
}

.index-box-image-1 {
    background-image: url("../images/solar-panels.jpg");
}

.index-box-image-4 {
    background-image: url("../images/mountain.jpg")
}

.index-box-image-5 {
    background-image: url("../images/forest.jpg")
}

.index-box-image-8 {
    background-image: url("../images/hot-air-balloon-fire.jpg")
}

.introduction-button {
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}

.twitter-icon {
    color: deepskyblue;
}



.ct-btn-scroll {
    background-color: transparent;
    border: none;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.ct-btn-scroll:hover {
    background-color: transparent;
}


.contact-holder {
    align-items: center;
    vertical-align: middle;
    display: flex;
    color: whitesmoke;
    background-color: #37414f;
    font-size: 1.5rem;
}

.contact-holder{
    display: flex;
    align-items: center;
    padding: 5% 0;
}

.contact-title {
    width: 40%;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
}

.contact-info {
    justify-content: left;
    text-align: center;
}

.contact-info p {
    padding-left: 1rem;
}

.contact-info a {
    text-decoration: none;
    color: #ff6b26;
}

.contact-entry {
    align-items: center;
    display: flex;
}

.contact-icon {
    align-items: center;
}

.socials {
    width: 100%;
    background-color: #ff6b26;
    justify-content: center;
    text-align: center;
    align-items: normal;
    display: inline-block;
    padding: 3rem;
}

.social-icon {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}
.twitter-icon {
    color: deepskyblue;
}

.footer {
    display: flex;
    padding: 3rem;
    background-color: #37414f;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    background-image: linear-gradient(to right, #191d24, #5f656b);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}

.menu-bars {
    margin: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-image: linear-gradient(to right, #191d24, #22262D);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    transition: var(--transition-speed) ease;
}
.nav-menu.active {
    left: 0;
    transition: var(--transition-speed) ease;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 8px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #707070;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #222831;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.navArrows {
    transform: rotate(0deg);
    transition: transform var(--transition-speed) ease-in-out;
}

.navArrows:hover {
    transform: rotate(180deg);
    transition: transform var(--transition-speed) ease-in-out;
}

span {
    margin-left: 16px;
}

.title {
    color: #ffffff;
    margin: auto;
    text-align: center;
    text-justify: distribute;
}

.title a {
    text-decoration: none;
    color: whitesmoke;
    padding: 16px;
    border-radius: 4px;
}

.mobile {
    display:none;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-body {
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    text-align: center;
    height: 100vh;
    padding: 120px 2rem 2rem 2rem;
    background: url("../images/mountain-background.jpg") 50% 50%;
}

.login-body h2 {
    font-size: 2rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.form-group {
    padding: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.form-control {
    width: 60%;
    height: 40px;
    font-size: 2rem;
}

.form-label {
    padding: 1rem;
    width: 40%;
}

.form-button {
    justify-content: center;
    display: flex;
    color: black;
}

.alert-danger {
    margin: 0.5rem;
    padding: 1rem;
    background-color: #ff5e5e;
    border-radius: 8px;
}

.alert-success {
    margin: 0.5rem;
    padding: 1rem;
    background-color: green;
    border-radius: 8px;
}

.dashboard-body {
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    text-align: center;
    height: 100vh;
    padding: 120px 2rem 2rem 2rem;
    background: url("../images/mountain-background.jpg") 50% 50%;
}

.blog-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #222831;
    color: whitesmoke;
}

@media only screen and (max-width: 1200px){
    .header {
        text-align: center;
        font-size: 1.5rem;
    }

    .introduction {
        text-align: center;
        font-size: 1.5rem;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
    .box-1 {
        order: 1;
    }
    .box-2 {
        order: 2;
    }
    .box-3 {
        order: 4;
    }
    .box-4 {
        order: 3;
    }
    .box-5 {
        order: 5;
    }
    .box-6 {
        order: 6;
    }
    .box-7 {
        order: 8;
    }
    .box-8 {
        order: 7;
    }
}

@media only screen and (max-width: 800px){
    .header {
        text-align: center;
        font-size: 1rem;
    }

    .introduction {
        text-align: center;
        font-size: 1rem;
        padding: 0;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
    
    .form-group {
        width: 80%;
        flex-direction: column;
    }

    .form-label {
        margin-right: auto;
        width: auto;
    }

    .form-control {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .title {
        padding: 0;
    }

    .navbar {
        background-image: none;
        background-color: #222831;
        justify-content: center;
    }

    .mobile {
        border-radius: 10px;
        border: 2px solid white;
        display: block;
        height: 2.5rem;
        width: auto;
        padding: 0;
        margin: auto;
    }

    .desktop {
        display: none;
        margin:auto;
    }

    .contact-info {
        padding: 1rem;
    }

    .contact-title {
        width: 100%;
        font-size: 1rem;
    }

    .contact-entry {
        font-size: 1rem;
    }

    .contact-holder {
        flex-direction: column;
    }
}